#info-container {
    width:80%;
}






.plushie-tile {
     /* This creates a 1:1 (square) aspect ratio */
    position: relative;
    overflow: hidden;
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
    border: 0 solid transparent;
}

/* Styles for the image inside plushie-tile */
.plushie-tile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image fills the square area without stretching */
}




.about-text, .contacts-text {
    position: relative;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}


.contact-tile img {
    width: 100px;
    height: auto;
}

.contacts-text {
    font-size: 20px;
}

.contact-tile-content {
    display: flex;
    flex-direction: column;      
}




#price-amount {
    position: relative;
    font-weight: bold;
    
    width: 50%;
    left: 25%;
    font-size: 20px;
}

.price-tiles #price-img {
    width: 200px;
    height: auto;
}