.tiles-container {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    padding-bottom: 50px;
    width: 100%;
    min-height: 100px;
    height: auto;
    justify-content: center;
}

.tile-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-height: 100px;
    justify-content: center;
    padding-top: 10px;
}   


.tile {
    position: relative;
    display: flex;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    /* Add the desired width for the first two tiles (70%) */
    flex-basis: 200px;
    height: auto;
    margin: 10px;

    overflow: hidden;

    background-color: var(--box);

    border-radius: 20px;
    border: 3px solid var(--box-outline);
    box-shadow: 0  10px 20px var(--background-shadow);
    color: var(--text);
    
}

.section-title-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;    
    height: 50px;
    background-color: var(--box);
    border-bottom: 5px solid var(--box-outline);
    

}
.section-title {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 15%;
    min-width: 250px;
    height: 80%; 
    top: 10%;

    border-left: 3px solid var(--box-outline);
    border-right: 3px solid var(--box-outline);
    color: var(--text);
    font-size: 30px;
}

#tile-title-large {
    position: relative;
    width: 50%;
    left: 25%;
    height: 55px;
    text-align: center;
    border-bottom: 3px solid var(--background-shadow);
    margin-bottom: 20px;

    font-size: 40px;
}



#tile-title-small {
    position: relative;
    width: 50%;
    left: 25%;

    font-weight: bold;
    border-bottom: 2px solid var(--background-shadow);
    
    
    font-size: 20px;
}
