@media (max-width: 1024px) {
	.technologies-container {
		grid-template-columns: repeat(3, 1fr);
	}
	.technology-icon {
		font-size: 3rem;
	}
	body {
		width: 90%;
	}
}

@media (max-width: 900px) {
	.section-row {
		flex-direction: column;
	}
	.sub-section {
		border-right: none;
		border-left: none;
	}
	.typewriter-container {
		width: 100%;
	}
	.intro-container {
		width: 100%;
		align-items: center;
	}
	body {
		width: 100%;
		border-left: none;
		border-right: none;
	}
}

@media screen and (max-width: 800px) {
	.technologies-container {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.technologies {
		padding-top: 0.5rem;
		max-width: 1rem;
	}
	.technologies i {
		font-size: 4rem;
	}
}

/* mobile */
@media screen and (max-width: 600px) {
	.technologies-container {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
