html,
body {
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
}

:root {
	--background-color: #222330;
	--border-colour: rgb(136, 135, 132);
	--header-background-color: red;

	--accent-colour: #3f71dd;

	--header-border-color: black;
	--footer-border-color: black;

	--tile-colour: red;
	--tile-border-colour: rgb(0, 0, 0);

	--border-radius: 0.125rem;

	--shadow-colour: rgba(0, 0, 0, 0.5);
	--subtle-shadow-colour: rgba(0, 0, 0, 0.25);
	--shadow-offset: 0.125rem;
	--subtle-shadow-offset: 0.125rem;
}

html {
	display: flex;
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	height: max-content;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-left: 0.5rem solid var(--border-colour);
	border-right: 0.5rem solid var(--border-colour);
}

.bg-purple {
	background-color: rgb(143, 23, 190);
}
.bg-orange {
	background-color: rgb(243, 141, 24);
}
.bg-blue {
	background-color: #4f9af0;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: red;
	border-bottom: 0.5rem solid;
	border-color: var(--border-colour);
	height: 5rem;
	width: auto;
	margin: 0;
	padding: 1rem;
	padding-right: 1rem;
}
.header .tile {
	background-image: none;
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: red;
	border-top: 0.5rem solid black;
	height: 5rem;
}
.break {
	width: 100%;
	height: 0.5rem;
	background-color: var(--border-colour);
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	pointer-events: none;
}

h1 {
	font-family: "Farro", serif !important;
	font-weight: 500 !important;
	font-size: 5rem !important;
	line-height: 1 !important;
	user-select: text;
	-moz-user-select: text;
	letter-spacing: -0.05em; /* Adjust this value to make the text narrower */
}
h2 {
	font-family: "Farro", serif;
	font-size: 3.5rem;
	line-height: 1.5;
	user-select: none;
	-moz-user-select: none;
}

.pageContainer {
	display: flex;
	width: 100%;
	height: auto;
	min-height: 50vh;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: transparent;
	backdrop-filter: blur(20px);
}

.tile {
	min-width: 10rem;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;

	border-radius: var(--border-radius);
	/* padding: 0.5rem; */
	padding-top: 0;
	/* background-color: var(--tile-colour); */
	font-family: "Inter", sans-serif;

	background-image: url("images/tiledecal.png");
	background-blend-mode: normal;
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: calc(24px * 2);
	image-rendering: pixelated;
	border: 0.25rem solid rgba(255, 255, 255, 0.363);
}

.tile span:first-child {
	font-family: "Farro", serif;
	font-size: 75%;
	font-weight: 500;
	position: relative;
	padding-left: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.square-ratio {
	aspect-ratio: 1 / 1;
}
.tile-ratio {
	aspect-ratio: 5 / 6;
}

.border {
	border: 0.25rem solid var(--tile-border-colour);
}

.name {
	width: fit-content;
	background-color: rgb(198, 85, 221);
}

.box-shadow {
	transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
	/* The dropshadow */
	box-shadow: calc(3 * var(--shadow-offset)) calc(3 * var(--shadow-offset)) 0px
		var(--shadow-colour);
}

.box-shadow-subtle {
	transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
	/* The dropshadow */
	box-shadow: calc(3 * var(--subtle-shadow-offset)) calc(3 * var(--subtle-shadow-offset))
		0px var(--subtle-shadow-colour);
}

.box-shadow-hover:hover {
	--shadow-offset: 0rem;
	--subtle-shadow-offset: 0rem;
	transform: translate(0.25rem, 0.25rem) rotate(1.5deg);
}

.header-contact {
	background-color: #4f9af0;
	color: white;
	padding-top: 0;
	padding-bottom: 0;
	height: 2.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.section {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding-bottom: 1rem;
	padding-top: 0;
	justify-content: start;
	align-items: start;
	overflow-x: hidden;

	backdrop-filter: blur(2px);
}
/* section divider */
.section::after {
	content: "";
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: 0.5rem;
	background-color: var(--accent-colour);
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: var(--border-radius);
}

.section-row {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.sub-section {
	display: flex;
	width: auto;
	max-width: 100%;
	min-width: 400px;
	padding: 1rem;
	gap: 2rem;
	flex-direction: column;
	/* border-right: 0.5rem solid var(--border-colour); */
}

.intro-container {
	justify-content: space-around;

	gap: 2rem;
	max-width: 100%;
}

.intro {
	display: flex;
	flex-basis: 60%;
}

.intro-image {
	flex-basis: 40%;

	max-width: 40%;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro-image img {
	background-color: black;
	object-position: center;
	object-fit: cover;
	max-width: 100%;
}

/* .section-row .sub-section:last-child {
	border-right: none;
} */

.technologies-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(12rem, 1fr));
	grid-gap: 1.5rem;
	width: 100%;
	height: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	justify-content: center;
	align-items: center;
	padding-left: 5rem;
	padding-right: 5rem;
}

.technologies {
	display: flex;
	min-width: 12rem;
	width: auto;
	max-width: 20rem;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	align-items: center;
	padding-top: 1.5rem;
	transform: rotate(-1deg);
}

.technologies i {
	width: 100%;
	height: 50%;
	font-size: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.technologies img {
	width: 7rem;
	height: 7rem;
	aspect-ratio: 1 / 1;
}

.fancy-button {
	padding: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	width: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.125rem solid var(--tile-border-colour);

	background-color: transparent;
	border-color: white;
	color: white;
	animation: bounce 10s infinite;
}

.socials-container {
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
	gap: 5rem;
	padding: 0.5rem;
	justify-content: space-evenly;
}
.socials {
	aspect-ratio: 1 / 1;
	width: 4rem;
	padding: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	background-color: rgb(231, 230, 220);
}

.socials img {
	height: 100%;
	aspect-ratio: 1 / 1;
	background-color: rgb(47, 44, 51);
}

.stuff-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 3rem;

	width: 90%;
	height: auto;
	aspect-ratio: 6/2;
	padding: 1rem;
	background-color: #cf8e43;
	background-image: url("images/board.png");
	background-size: 48px 48px;
	background-repeat: repeat;
	border: 0.5rem solid #865125;
	transform: rotate(1deg);
}
.stuff-container:hover {
	--shadow-offset: 0.25rem;
	transform: translate(0, 5px) rotate(1deg);
}

.postit {
	height: 12rem;
	aspect-ratio: 8/6;
	transform: perspective(800px) rotateX(20deg) rotateZ(-2.5deg);
	transform-origin: top;
	box-shadow: 0.25rem 0.5rem 0px rgba(0, 0, 0, 0.5);
	border-radius: var(--border-radius);
	padding-top: 20px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.75rem;
	background-image: url("styles/tile_decorator.svg");
	background-size: 100% 100%;
	background-repeat: repeat;
	image-rendering: unset;
	font-family: "Farro", serif;
}
.postit h3 {
	font-family: "Farro", serif;
	font-size: 1.25rem;
	line-height: 1.5rem;
	padding-bottom: 0.5rem;
}

.postit-content {
	display: flex;
	flex-direction: row;
	height: auto;
	gap: 0.125rem;
}
.postit-image {
	width: 125%;
	height: 100%;
	position: relative;
	top: -1.5rem;
}
.postit-image img {
	width: 100%;
	padding: 0.25rem;
	background-color: rgb(231, 230, 220);
	border-radius: var(--border-radius);
}

.postit-image span {
	padding-top: 0.25rem;
	max-height: 50%;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: center;
	align-items: start;
}
.postit-image span:first-child {
	padding-top: 1rem;
}
.postit-image span img {
	width: 25%;
	height: 25%;
}

.wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.wrapper h1 {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-family: sans-serif;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #fff;
	font-size: 40px;
	font-weight: 888;
	text-transform: uppercase;
}
.wrapper div {
	height: 60px;
	width: 60px;
	position: absolute;
	top: 10%;
	left: 10%;
	animation: 4s ease-in infinite;

	background-image: url("styles/shapes/triangle.svg");
	background-size: 100% 100%;
	background-position: 100%;
	background-repeat: no-repeat;
}
.wrapper div:nth-child(3n + 1) {
	background-image: url("styles/shapes/square.svg");
}
.wrapper div:nth-child(3n + 2) {
	background-image: url("styles/shapes/circle.svg");
}
.wrapper div:nth-child(3n) {
	background-image: url("styles/shapes/triangle.svg");
}
.wrapper div:hover {
	background-image: url("styles/shapes/square.svg");
}
div .dot {
	height: 10px;
	width: 10px;
	border-radius: 50px;
	position: absolute;
	top: 20%;
	right: 20%;
}
.wrapper div:nth-child(1) {
	top: 20%;
	left: 20%;
	animation: bg-animation 8s ease-in infinite;
}
.wrapper div:nth-child(2) {
	top: 60%;
	left: 80%;
	animation: bg-animation 10s ease-in infinite;
}
.wrapper div:nth-child(3) {
	bottom: 40%;
	left: 40%;
	animation: bg-animation-r 3s ease-in infinite;
}
.wrapper div:nth-child(4) {
	top: 66%;
	left: 30%;
	animation: bg-animation 7s ease-in infinite;
}
.wrapper div:nth-child(5) {
	top: 90%;
	left: 10%;
	animation: bg-animation 9s ease-in infinite;
}
.wrapper div:nth-child(6) {
	top: 30%;
	left: 60%;
	animation: bg-animation 5s ease-in infinite;
}
.wrapper div:nth-child(7) {
	top: 70%;
	left: 20%;
	animation: bg-animation 8s ease-in infinite;
}
.wrapper div:nth-child(8) {
	top: 75%;
	left: 60%;
	animation: bg-animation 10s ease-in infinite;
}
.wrapper div:nth-child(9) {
	top: 50%;
	left: 50%;
	animation: bg-animation-r 6s ease-in infinite;
}
.wrapper div:nth-child(10) {
	top: 45%;
	left: 20%;
	animation: bg-animation-r 10s ease-in infinite;
}
.wrapper div:nth-child(11) {
	top: 10%;
	left: 90%;
	animation: bg-animation 9s ease-in infinite;
}
.wrapper div:nth-child(12) {
	top: 20%;
	left: 70%;
	animation: bg-animation-r 7s ease-in infinite;
}
.wrapper div:nth-child(13) {
	top: 20%;
	left: 20%;
	animation: bg-animation 8s ease-in infinite;
}
.wrapper div:nth-child(14) {
	top: 60%;
	left: 5%;
	animation: bg-animation 6s ease-in infinite;
}
.wrapper div:nth-child(15) {
	top: 90%;
	left: 80%;
	animation: bg-animation 9s ease-in infinite;
}
@keyframes bg-animation {
	0% {
		transform: scale(0) translateY(0) rotate(70deg);
	}
	80% {
		transform: scale(1.3) translateY(-200px) rotate(360deg);
	}
	100% {
		transform: scale(0) translateY(0) rotate(70deg);
	}
}
@keyframes bg-animation-r {
	0% {
		transform: scale(0) translateY(0) rotate(70deg);
	}
	80% {
		transform: scale(1.3) translateY(-100px) translateX(-200px) rotate(360deg);
	}
	100% {
		transform: scale(0) translateY(0) rotate(70deg);
	}
}

@keyframes cursor-blink-animation {
	from {
		visibility: visible;
	}
	to {
		visibility: hidden;
	}
}

@keyframes typewriter-animation {
	from {
		max-width: 0ch;
	}
	to {
		max-width: 50ch;
	}
}

.typewriter-container {
	width: 30rem;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 0.5rem;
	gap: 0.5rem;
}

.typewriter-bar {
	width: 25%;
	height: 2rem;
	background-color: rgba(223, 220, 191, 0.5);
	border-radius: var(--border-radius);

	background-image: url("images/paintbrush.png");
	background-blend-mode: normal;
	background-repeat: no-repeat;
	background-position-x: left;
	background-size: contain;
	image-rendering: pixelated;
	border: 2px solid transparent;
}

.typewriter {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: var(--border-radius);

	width: auto;
	height: 10ch;
	background-color: rgb(231, 230, 220);
}

.typewriter p:first-child {
	width: auto;
	font-family: "Farro", serif;
	font-size: 1rem;
	line-height: 1;
	padding: 0.5rem;
	padding-right: 0rem;
}

.cursor {
	animation: cursor-blink-animation 0.75s steps(3, start) infinite;
	font-weight: bold;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	position: relative;
	top: 0.3rem;
}
