:root {
    --header-colour: #c5cccf; /* Change the color value as desired */
    --header-colour-hover: #ffffff;
    --header-spacing: 50px;

    --header-background-colour-bottomg: #1E2027;
    --header-background-colour-topg: #2A2D35;
    
    --box: #e9e8e3;
    --box-outline: #b9b8b0;
    
    --background: #7f8ca8;
    --background-shadow: #50596b;

    

    --text: #2e2c2c;
    --text-shadow: #1a1818;
}

@font-face {
    font-family: 'CustomFont', monospace;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiI2B.woff2) format('woff2');
}


html, body {
    background-color: var(--background);
    background-size: cover;
    margin: 0;
    padding: 0;
}

* {
    font-family: customFont, monospace;
    color: var(--text);
    text-decoration: none;
}

#page-body {
    height: auto;
    min-height: 700px;
    top: 400px;
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}
