:root {
    --header-colour: #c5cccf; /* Change the color value as desired */
    --header-colour-hover: #ffffff;
    --header-spacing: 50px;

    --header-background-colour-bottomg: #1E2027;
    --header-background-colour-topg: #2A2D35;
    
    
    --background-colour: #1a2421;
    --background-colour-accent: #ffffff;
    --background-colour-border: #20242c;

    

    --text-colour: #eaf2f3;
    --text-colour-shadow: #0d1311;
}

@font-face {
    font-family: 'CustomFont', monospace;
    src: url(./LibreFranklin-VariableFont_wght.ttf) format('ttf');
}

